{
    "singleQuote": true,
    "trailingComma": "all",
    "endOfLine": "lf",
    "useTabs": false,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 90,
    "tabWidth": 2
}
