@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700');

.post {
  font-family: Lato, sans-serif;
}

.post .container {
  display: grid;
  grid-template-columns: 4rem 3fr 1fr 2rem;
  margin-top: 2rem;
  grid-column-gap: 2rem;
}

.post .header {
  grid-column: 2 / 5;
}

.post .heading {
  font-family: Montserrat, sans-serif;
}

.post .header .subheading {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: smaller;
  color: #455a64;
}

.post .content {
  grid-column: 2 / 3;
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.4;
}

.post .content .poster-image {
  width: 100%;
  object-fit: cover;
}

.post .aside .heading {
  margin: 0;
  font-weight: 600;
}

.post .footer {
  grid-column: 1 / 5;
  background-color: #37474f;
  padding: 0.7rem 1rem;
  margin-top: 3rem;
  text-align: right;
}

.post .footer .name-link {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .post .container {
    grid-template-columns: 2rem 3fr 1fr 2rem;
  }
  .post .content {
    grid-column: 2 / 4;
  }
  .post .aside {
    grid-column: 2 / 4;
  }
}

.post .card {
  height: 5rem;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: 1rem 0;
  cursor: pointer;
}

.post .card img {
  height: 100%;
  width: 40%;
  margin-right: 0.5rem;
}

.post .card p {
  margin: 0;
}

.post .card .title {
  font-size: 0.8rem;
}

.post .card .author {
  font-size: small;
}
